<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Bienvenido, <%= user.username %></h1>
  <p>Este es tu dashboard</p>
  <a href="/">Volver</a>
  <a href="/logout">Cerrar sesión</a>
</body>
</html>